@value Palette:  "../globals/Palette";
@value Black, Blue, Dark-Grey, Light-Grey, White from Palette;

.root {
  background-color: Light-Grey;
  border: 1px solid Light-Grey;
  border-radius: 2px;
  display: block;
  height: 45vh;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5vh;
  width: 70vw;
}

.hero-text {
  color: Dark-Grey;
  margin: 10vh;
  padding-top: 5vh;
}

.join-button {
  background-color: White;
  border: 2px solid Dark-Grey;
  border-radius: 2px;
  color: Dark-Grey;
  padding: 15px 45px 15px 45px;
  text-decoration: none;

  &:hover {
    background-color: Dark-Grey;
    border: 2px solid White;
    color: Light-Grey;
  }
}
